* {
    padding: 0;
    margin: 0;
}

.grid-container {
    height: auto;
    width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 2fr;
    justify-content: center;
    grid-gap: 20px;
}

.left-grid {
    width: 300px;
    padding: 20px;
}
.list-items{
    list-style: none;
}
.list-item{
    display: grid;
    padding: 10px;
    grid-template-columns: 2fr 8fr;
}
.list-item-image{
    float: left;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.list-item-text{
    height: auto;
    float: right;
    margin: auto 0px;
}

.right-grid{
    padding: 20px;
    width: 450px;
    display: grid;
    grid-template-rows: 4fr 1fr;
}
.right-image{
    height: 650px;
    width: 450px;
    object-fit: cover;
}
.right-image-desc{
    margin-top: 8px;
    padding: 8px;
    height: 20px;
    text-align: center;
    resize: none;
    border: 0ch;
}
